.main{
    display:flex ;
    height:100vh;
    justify-content: space-between;
    align-items:center;
    background-color: #111827;
    width: 100%;
}
.name{
    font-family:'Lexend Deca',sans-serif;
    color:#F3F4F6;
    margin:20px 0;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;

}
spam{
    color: #EAB308;
    font-weight: bold;
    font-size: 70px;
}
.button-div{
  padding-top: 70px;
}
.contact-button{
    height: 43px;
    width: 150px; 
    font-family: 'Lexend Deca',sans-serif;
    background-color:#EAB308 ;
    border-radius: 5%;
    border-width: 0;
}

.description{
    font-family:'Lexend Deca',sans-serif;
    color:#F3F4F6;
    margin:20px 0;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
.description-content{
    padding-left: 100px;
    width: 100%;
}
.image-div{
  width: 60%;
  padding: 50px;
 
}
.first-image{
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 991px) {
    .main {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
    }
    .description-content{
        margin-top: 50px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }

   .image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
     margin-top: 100px;

   }
   .first-image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
   }
  
   .name{
    font-size: 50px;
   }
    .description{
        font-size: 20px;
        text-align: justify;
    }
    .button-div{
      display: none;
    }
   .description-content{
    width: 100%;
   }
    span {
      font-size: 36px;
      margin-right: 0;
    }
  
    .about-description {
      font-size: 18px;
      margin-left: 0;
      text-align: center;
    }
  }
  

  