#projects{
    height: 100vh;
    background-color: #111827;
   
}
#projects-slides{
    display: flex;
    justify-content: center;
    align-items: center;
}
.My-Projects{
    font-size: 70px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 100px;
    font-family: 'Lexend Deca',sans-serif;
    color: #F3F4F6;
    font-weight: bold;
    
}

