.Project-Card{
    background-color: #020617;
    display: block;
    flex-direction: column;

    z-index: -1000;
    height: 400px;
    width: 400px;
    border-radius: 10%;
    border: 1px solid #EAB308;
    padding: 30px;
    color: #fff;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    &:hover {
        transform: scale(1.1);
        background-color: #021a2e; 
        color: #EAB308; 
      }
}
.informations{
     height: 80%;
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.projrct-icon{
    height: 50px;
    color: #EAB308;
}
.project-button{
    background-color: #EAB308;
    color: #111827;
    border: none;
    border-radius: 5%;
    height: 40px;
    width: 150px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;

}
.link{
    color: #020617; 
    font-family:'Lexend Deca', sans-serif; ;
    text-decoration: none; 
    font-size: 16px;
  }
.title{
    display: flex;
    justify-content: space-between;
    font-family:'Lexend Deca',sans-serif ;
}
.description{
    word-wrap: break-word;
    overflow-wrap: break-word;

}
.description-text{
    font-family:'Lexend Deca',sans-serif ;
    font-size: 15px;
}
@media screen and (max-width: 991px) {
    .Project-Card{
        width: 240px;
        height: 250px ;
        overflow: hidden;
    }
    .title{
        font-size: 20px;

    }
    .description-text{
        font-size: 12px;

    }
    .project-button{
        font-size: 15px;

    }
    .link{
        font-size: 12px;
    }
}