.Project-Card{
    background-color: #020617;
    height: 400px;
    width: 400px;
    border-radius: 10%;
    border: 1px solid #EAB308;
    padding: 30px;
    color: #fff;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    &:hover {
        transform: scale(1.05);
        background-color: #021a2e; 
        color: #EAB308; 
      }
}

.project-button{
    background-color: #EAB308;
    color: #111827;
    border: none;
    border-radius: 5%;
    height: 40px;
    width: 150px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
a{
    color: #020617; 
    text-decoration: none; 
    font-size: 16px;
  }